@** Create a text input for a form
  *
  * @param field       Field to maybe populate this input and check for errors.
  *                    The field name is used as the id and name of the input.
  * @param label       Label to be created, if not empty
  * @param placeholder Placeholder text for the field
  * @param divClass    Additional class elements for the div containing the field
  * @param isPassword  If true, this will be a password field instead of text. Default false.
  *@
@(field: Field,
  id: String,
  label: String = "",
  placeholder: String = "",
  divClass: String = "",
  required: Boolean = false,
  tags: Seq[String] = Seq(),
  isPassword: Boolean = false)

<div class="inputField">
  @if(label != "") {
    <label for="@id">@label</label>
  }
  <input type="@if(isPassword) {password} else {text}"
    id="@field.name" name="@field.name"
    @if(placeholder != "") {placeholder = "@placeholder"}
    @if(required){required aria-required}
    @for(tag <- tags){@tag }
  >
</div>
