@* Index for the app *@
@import be.objectify.deadbolt.scala.views.html.{ restrict, restrictOr }
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(login: String)(implicit req: AuthenticatedRequest[_])

@main("Title") {
  <div class="container">
    <h1>Welcome, <strong>@login</strong></h1>

    <div class="row">
      <div class="col sm-6">
        @restrictOr(roles = List(Array("employee"))) {
          <a href="@webCore.controllers.routes.Application.employeeIndex">Employee Lounge</a>
        } {
          <p>Not an employee</p>
        }
    </div>
      <div class="col sm-6">
        <a href="@webCore.controllers.routes.LoginController.logout">Log out</a>
      </div>
    </div>

  </div>
}
