@* Product view *@
@(p: models.Product, pimages: Seq[models.ProductImage])(
  implicit messages: Messages)

@main( messages("product.title") ) {
    <div class="container">
        <h1>@messages("product.header")</h1>

        <div class="row">
            <div id="info">
                <h2 class="col-sm-12">@messages("product.info.name", p.name)</h2>
                <div class="col-sm-4 strong">
                    @messages("product.info.price.label")
                </div>
                <div class="col-sm-8">
                    @messages("product.info.price.text", p.price)
                </div>
            </div>

            <div id="image">
                @if(pimages.isEmpty) {
                  <p>@messages("product.info.noImage")</p>
                } else {
                  @for(image <- pimages) {
                    <img src="@routes.ImageServer.image(image.imageUrl)" alt="@messages("product.info.image.alt")">
                  }
                }
            </div>
        </div>
    </div>
}
