@* Product view *@
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(p: models.Product, pimages: Seq[models.ProductImage], pcats: Seq[Category])(
    implicit
    messages: Messages,
    request: AuthenticatedRequest[Any]
)

@lineItem(name: String, text: String) = {
    <div class="col s4 strong">@name</div>
    <div class="col s8">@text</div>
}

@showcat(cat: Category) = {
    <div class="chip">@cat.name</div>
}

@main( messages("product.title") ) {
    <h1>@p.name</h1>

    <div class="row">
        @for(cat <- pcats){@showcat(cat)}
    </div>
    <div class="row blue lighten-4">
        <div id="info" class="col s6">
            <h2>@messages("product.info.details")</h2>
            @lineItem(
                messages("product.info.price.label"),
                messages("product.info.price.text", p.price) )
            @lineItem(
                messages("product.info.desc.label"),
                messages("product.info.desc.text", p.description) )
        </div>

        <div id="image" class="col s6">
            @if(pimages.isEmpty) {
                <p>@messages("product.info.noImage")</p>
                } else {
                @for(image <- pimages) {
                    <img class="col s12" src="@routes.ImageServer.image(image.imageUrl)" alt="@messages("product.info.image.alt")">
                    }
                    }
        </div>
    </div>
}
