@(products: Seq[Product])(implicit messages: Messages)

<table class="striped highlight responsive-table">
    <thead>
        <tr>
            <th class="data-field">@messages("productList.id.header")</th>
            <th class="data-field">@messages("productList.name.header")</th>
            <th class="data-field">@messages("productList.price.header")</th>
        </tr>
    </thead>
    <tbody>
        @for(prod <- products) {
            <tr>
              <td>@prod.id</td>
              <td>@prod.name</td>
              <td>@prod.price</td>
            </tr>
        }         
    </tbody>
</table>