@(form: Form[(String, String)], redirectUri: String = "")(
    implicit
    notifications: Seq[Notification] = Nil,
    messages     : Messages
)

<head>
  <title>Login</title>
  <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/materialize-css/dist/css/materialize.css")"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/alertifyjs/build/css/alertify.css")"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/alertifyjs/build/css/themes/default.css")"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1 class="col s12 center-align">@messages("login.header")</h1>

      <form action="@routes.LoginController.login" method="post" role="form">
          <div class="row">
              <div class="input-field col m6 s12">
                  <input type="text" name="login" id="login"
                         class="validate">
                  <!-- autofocus> -->
                  <label for="login">@messages("login.login.label")</label>
              </div>
              <div class="input-field col m6 s12">
                  <input type="password" name="password" id="loginpassword">
                  <label for="password">@messages("login.password.label")</label>
              </div>
          </div>
          
          <button class="btn waves-effect waves-light col s2 offset-s5" type="submit" name="submit">
              @messages("login.submit.label")
              <i class="material-icons right">send</i>
          </button>
      </form>

    </div>
  </div>

  <script type="text/javascript" src="@routes.Assets.versioned("lib/materialize-css/dist/js/materialize.js")"></script>
  <script type="text/javascript" src="@routes.Assets.versioned("lib/alertifyjs/build/alertify.js")"></script>

  @for(n <- notifications){
    @show.notification(n.message, n.level)
  }
</body>
