@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(productid: Long)(implicit messages: Messages, request: AuthenticatedRequest[Any])

@main( messages( "addImageView.title" ) ) {
    <h1>@messages("addImageView.header")</h1>

    <div class="row">
        <form action="#" role="form" method="post" enctype="multipart/form-data">
            @inputs.file(
                label = messages("addProductImage.file.text"),
                placeholder = messages("addProductImage.file.tt"),
                inputClass = "col s12",
                id = "image"
            )
            <input type="submit"
                   class="btn col s6 offset-s3 m4 offset-m4"
                   value="@messages("addImageView.submit")">
        </form>
    </div>
}
