@** Add a product to the system *@
@(form: Form[daos.ProductDao.ProductInfo])

@main("Add product") {
  <div class="container">
    <h1>Create new product</h1>

    <div class="row">
      <form action="#" role="form" method="post">
        @inputs.text(form("name"), "Name", "Product name", divClass = "col s12 m6", required=true)
        @inputs.text(form("price"), "Price", "Product price", divClass = "col s12 m6", required=true)

        <input type="submit" class="btn col s6 offset-s3 m4 offset-m4" value="Create product">
      </form>
    </div>
  </div>
}
