@** Add a product to the system *@
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(form: Form[daos.ProductDao.ProductInfo])(
    implicit
    messages: Messages,
    request: AuthenticatedRequest[Any],
    notifications: Seq[models.Notification] = Nil)

@main( messages("addProduct.title") ) {
    <h1>@messages("addProduct.header")</h1>

    <div class="row">
        <form action="#" role="form" method="post" enctype="multipart/form-data">
            @inputs.text(
                form("name"),
                messages( "addProduct.name.label" ),
                inputClass = "col s12 m6",
                required = true
            )
            @inputs.text(
                form("price"),
                messages( "addProduct.price.label" ),
                inputClass = "col s12 m6",
                required = true
            )

            @inputs.file(
                messages("addProduct.file.label"),
                inputClass = "col s12",
                id = "image",
                placeholder = messages("addProduct.file.tt")
            )

            <!-- <input class="col s12" type="file" name="image"> -->

            <input type="submit"
                   class="btn col s6 offset-s3 m4 offset-m4"
                   value="@messages("addProduct.submit.text")">
        </form>
    </div>
}
