@** Add a product to the system *@
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(form: Form[daos.ProductDao.ProductInfo], cats: Seq[Category])(
    implicit
    messages: Messages,
    request: AuthenticatedRequest[Any],
    notifications: Seq[models.Notification] = Nil)

@main( messages("addProduct.title") ) {
    <h1>@messages("addProduct.header")</h1>

    <div class="row">
        <form action="#" role="form" method="post" enctype="multipart/form-data">
            @inputs.text(
                form("name"),
                messages( "addProduct.name.label" ),
                inputClass = "col s12 m6",
                required = true
            )
            @inputs.text(
                form("price"),
                messages( "addProduct.price.label" ),
                inputClass = "col s12 m6",
                required = true
            )
            @inputs.text(
                form("description"),
                messages("addProduct.desc.label"),
                inputClass = "col s12"
            )

            @inputs.file(
                messages("addProduct.file.label"),
                inputClass = "col s12",
                id = "image",
                placeholder = messages("addProduct.file.tt")
            )

            <div id="categories" class="row">
                @for(cat <- cats) {
                    <div class="col s4 m3">
                        @inputs.checkbox(
                            id    = "categories["+cat.id+"]",
                            label = cat.name,
                            name  = Some("categories[]"),
                            value = Some(cat.id.toString)
                        )
                    </div>
                }
            </div>

            <input type="submit"
                   class="btn col s6 offset-s3 m4 offset-m4"
                   value="@messages("addProduct.submit.text")">
        </form>
    </div>
}
