@import be.objectify.deadbolt.scala.views.html.restrict
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@()(implicit messages: Messages, req: AuthenticatedRequest[Any])
<li><a href="@routes.Application.index">@messages("navbar.index.text")</a></li>

@restrict(roles = List(Array("employee"))) {
    <li><a href="@routes.Application.employeeIndex">@messages("navbar.employeeIndex.text")</a></li>
}

<li><a href="@routes.Application.allProducts">
    @messages("navbar.allProducts.text")
</a></li>

<li><a href="@routes.LoginController.logout" class="right" title="@messages("navbar.logout.title")">
    <i class="material-icons">power_settings_new</i>
</a></li>
