@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(title: String, scripts: Seq[String] = Nil, styles: Seq[String] = Nil)(
    content: Html
)(
    implicit notifications: Seq[Notification] = Nil,
    messages: Messages,
    request: AuthenticatedRequest[_]
)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/Materialize/dist/css/materialize.css")"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/alertifyjs/build/css/alertify.css")"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/alertifyjs/build/css/themes/default.css")"  media="screen,projection"/>

        @for(style <- styles){
          <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned(style)"/>
        }

        <script src="@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            @navbar()
        </div>
        <div class="container">
            @content
        </div>


        <script type="text/javascript" src="@routes.Assets.versioned("lib/Materialize/dist/js/materialize.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/alertifyjs/build/alertify.js")"></script>
        @for(script <- scripts){
          <script type="text/javascript" src="@routes.Assets.versioned(script)"></script>
        }

        @for(n <- notifications){
          @show.notification(n.message, n.level)
        }
    </body>
</html>
