@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(title: String, scripts: Seq[String] = Nil, styles: Seq[String] = Nil)(
    content: Html
)(
    implicit
    messages     : Messages,
    request      : AuthenticatedRequest[_],
    notifications: Seq[Notification] = Nil,
    flash        : Flash = null
)

@notify(level: String) = {
    @if( flash != null ) {
        @flash.get(level).map( msg => show.notification( msg, level ) )
    }
}

@flashNots() = {
    @notify("success")
    @notify("error")
    @notify("warning")
}

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"> -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/materialize-css/dist/css/materialize.css")"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/alertifyjs/build/css/alertify.css")"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/alertifyjs/build/css/themes/default.css")"  media="screen,projection"/>

        @for(style <- styles){
            <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned(style)"/>
        }

        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
    </head>
    <body>
        <div class="container">
            @navbar()
        </div>
        <div class="container">
            @content

            <div class="fixed-action-btn">
                <a href="@routes.ProductAdmin.addProduct"
                   class="btn-floating btn-large red tooltipped"
                   data-position="left"
                   data-tooltip="@messages("main.fab.addProduct.tooltip")"
                >
                    +
                </a>
                <ul>
                    <li>
                        <a href="@routes.ProductAdmin.addCategory"
                           class="btn-floating green darken-3 tooltipped"
                           data-position="left"
                           data-tooltip="@messages("main.fab.addCategory.tooltip")"
                        >
                            <i class="material-icons">label</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <script type="text/javascript" src="@routes.Assets.versioned("lib/materialize-css/dist/js/materialize.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/alertifyjs/build/alertify.js")"></script>
        @for(script <- scripts){
          <script type="text/javascript" src="@routes.Assets.versioned(script)"></script>
        }

        @for(n <- notifications){
          @show.notification(n.message, n.level)
        }
        @flashNots()
    </body>
</html>
