@* Application navbar *@
@import be.objectify.deadbolt.scala.views.html.restrict
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@()(implicit messages: Messages, req: AuthenticatedRequest[Any])
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">@messages("navbar.brand.text")</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            @links()
        </ul>
        <ul id="nav-mobile" class="side-nav">
            @links()
        </ul>
    </div>
</nav>

<script type="text/javascript">
    $( document ).ready(function() {
        $(".button-collapse").sideNav();
    });
</script>
